.profile__item-container {
  position: relative;
  width: 120px;
  height: 120px;
  object-fit: cover;
  clip-path: circle(50% at 50% 50%);
  opacity: 1;
  background: center no-repeat url(../../../../images/pencil.svg);
  background-size: 26px;
}
