.popup__input-error {
  height: 45px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.25;
  color: #ff0000;
  width: 350px;
  transition: visibility 0.3s, opacity 0.3s ease;
  /* opacity: 1; */
  /* visibility: hidden; */
}
@media screen and (max-width: 480px) {
  .popup__input-error {
    width: 250px;
  }
}
