@import url("../profile/__avatar/profile__avatar.css");
@import url("../profile/__item/profile__item.css");
@import url("../profile/_text/profile_text.css");
@import url("../profile/__title/profile__title.css");
@import url("../profile/__subtitle/profile__subtitle.css");
@import url("../profile/__info/profile__info.css");

@import url("../profile/__item/_container/profile__item-container.css");
@import url("../profile/__edit-button/profile__edit-button.css");
@import url("../profile/__add-button/profile__add-button.css");

.profile {
  max-width: 882px;
  min-height: 120px;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  padding-top: 36px;
  padding-bottom: 47px;
}

@media screen and (max-width: 960px) {
  .profile {
    padding-left: 27px;
    padding-right: 27px;
  }
}

@media screen and (max-width: 768px) {
  .profile {
    flex-direction: column;
  }
}
