.header__list-link {
  display: flex;
  align-self: center;
  color: white;
  text-decoration: none;
  font-size: 18px;
  /* margin-top: 20px; */
  cursor: pointer;
  transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
}

.header__list-link:hover {
  opacity: 0.5;
}

@media screen and (max-width: 900px) {
  .header__list-link {
    margin-right: 10px;
  }
}

@media screen and (max-width: 400px) {
  .header__list-link {
    margin-right: 30px;
    font-size: 14px;
  }
}