@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
.loading {
  position: absolute;
  top: 35%;
  left: 50%;
  width: 30px;
  height: 30px;
  border: 5px solid #222;
  border-left-color: #444;
  border-right-color: transparent;
  border-bottom-color: #666;
  border-radius: 100%;
  animation: spin 900ms infinite linear;
}
