.popup__input_type-login {
  background-color: black;
  border: none;
  border-bottom: 2px solid #cccccc;
  color: white;
  font-size: 14px;
  padding: 36px 5px 5px;
  width: 358px;
}

@media screen and (max-width: 480px) {
  .popup__input_type-login {
    width: 260px;
  }
}